<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gbbraga.vrvoiceclaude">
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="horizonos.permission.HEADSET_CAMERA" />
  <uses-feature android:name="android.hardware.microphone" android:required="true" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <application>
    <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
              android:theme="@style/BaseUnityGameActivityTheme"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest3|quest3s" />
  </application>
</manifest>
