<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gbbraga.vrvoiceclaude">

  <uses-feature android:name="android.hardware.microphone" android:required="true" />

  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

  <application>
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest3|quest3s" />

    <activity android:name="com.gbbraga.vrvoiceclaude.MediaProjectionCaptureActivity"
              android:theme="@style/BaseUnityGameActivityTheme"
              android:screenOrientation="landscape"
              android:launchMode="singleTask"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
              android:resizeableActivity="false"
              android:excludeFromRecents="true"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
        android:name="com.gbbraga.vrvoiceclaude.MediaProjectionForegroundService"
        android:foregroundServiceType="mediaProjection"
        android:exported="false" />
  </application>
</manifest>
